*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

h1{
	margin: 0 0 10px 0;
	color: #fff;
	border-bottom: 4px solid #fff;
}

#app-container{
	background: url('../images/P39e8qc.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}
