*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: sans-serif;
}

h1{
	padding: 10px;
	color: #fff;
	text-align: center;
	border: none;
}

input{
	padding: 5px;
	border: none;
	width: 350px;
	height: 30px;
}

#app-container{
	background: url('../images/windmill.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.control {
	text-align: center;
	padding: 10px;
}

.item {
	background-color: #fff;
	color: #000;
	text-align: center;
	max-width: 250px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}
